server:
  port: 8081
spring:
  application:
    name: order-service
  config:
    import: "optional:configserver:http://config:config123@localhost:8888"
management:
  endpoints:
    web:
      exposure:
        include: health,info,refresh
